@model IEnumerable<Album.Models.ComentarioModel>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.postId)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
        </tr>
}
    </tbody>
</table>
