@model IEnumerable<Album.Models.AlbumModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Album</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>

            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.ActionLink("Visualizar Album", "Details", new { id=item.id }) |
            </td>
        </tr>
}
    </tbody>
</table>
